{% extends 'base.html' %}

{% block title %}
<title>О магазине</title>
{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">О данном сервисе</h1>
    <p class="fs-5 text-body-secondary"></p>
</div>
<section class="start-block">
<div class="start-block__intro">
<div class="start-block__text-wrap">
<h2 class="start-block__header">Добро пожаловать на BarberStore</h2><br>

<ul class="indicators">
	<li class="indicators__item indicators__item--order">
	<p class="indicators__text"><b>более 100 </b><span>парикмахерских по Костроме</span></p>
	</li>
	<li class="indicators__item indicators__item--store">
	<p class="indicators__text"><b>1000 </b><span>клиентов ежедневно</span></p>
	</li>
	<li class="indicators__item indicators__item--goods">
	<p class="indicators__text"><b>более 100 </b><span>разных причесок в каждой парикмахерской</span></p>
	</li>
</ul>
</section>
{% endblock %}