{% extends 'base.html' %}

{% block title %}
<title>О магазине</title>
{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">О данном сервисе</h1>
</div>
<h3>Как сделать заказ?</h3>
    <ul class="list-unstyled">
      <li><a>1)Достаточно выбрать из каталога понравившуюся вам прическу</a></li>
      <li><a>2)После перейти по кнопке заказать</a></li>
      <li><a>3)Указать дату и время</a></li>
      <li><a>4)И кликнуть по кнопке оформить заказ</a></li>
    </ul>


{% endblock %}